
<div id="adDetails">

    <div id="imagesContainer">
        <div id="social">
            <a href="#"><img id="facebook" src="res/generic_img/facebook.png" /></a>
        </div>
        <div id="figureContainer">
            <img id="figure" src="{{ figure }}"/>
        </div>
    </div>
    <div id="adText">
        <h2>{{ title }}</h2>
        <h4 id="startRes">Starting List</h4>
        <p>start time h: {{ hour }}</p>
        <div id="startListResults"></div>
    </div>
    <button id="StartingListButton">Results</button>
</div>
