
<div id="adDetails">
    <div id="taskBarComp">{{ title }}</div>
    <br>
    <br>
    <br>
    <br>
    <div id="imagesContainer">
    <div id="social">
      <a href="#"><img id="facebook" src="res/generic_img/facebook.png" /></a>
      <a href="https://twitter.com/intent/tweet"><img  id="twitter" src="res/generic_img/twitter.png" /></a>
    </div>
		<div id="figureContainer">
    		<img id="figure" src="{{ figure }}"/>
    	</div>
    </div>
    <div id="startListResults"></div>
</div>


</div>
