<div id="adDetails">
    <div class="taskBar">{{ title }}</div>
    <div id="imagesContainer">
        <div id="startList_icon">
            <img id="start_list" src="res/generic_img/Starting List.png" />
        </div>
        <div id="figureContainer">
            <img id="figure" src="{{ figure }}"/>
        </div>
    </div>
    <div id="adText">
        <h4 id="startRes">Starting List</h4>
        <p>start time h: {{ hour }}</p>
        <div id="startListResults"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
