
<div id="creditsView">
    <h1>IAAF WORLD CHALLENGE - RIETI 2013 - MEETING #43</h1>
    <img src="res/generic_img/omino_giallo.png" />
    <p>Created and developed by Gabriele Falasca in collaboration with Università degli Studi de L'Aquila. Graphic adjustment by Stefano Principessa.<br> All logos, names, icons, photos used in this application are properties of "Rieti 2013 - IAAF World Challenge - Meeting #43"<br><br>Thanks to:<br>"COMITATO ORGANIZZATORE del MEETING INTERNAZIONALE di ATLETICA LEGGERA di RIETI 2013"<br><br>and specially thanks to Alessandro Falasca for his patience :) </p>
</div>