   <div id="content">
      <div id="titlebar">
            <div id="title"> {{ title }} </div> 
            <div id="icon"><img src="res\generic_img\omino_giallo.png" id="omino" /></div>
          <div data-role="navbar">
          <div id="navBar">
              <a class="link" id="calendar">Calendar</a>
              <a class="link" id="news">News</a>
              <a class="link" id="categories">Categories</a>
              <a class="link" id="atlethes">Athletes</a>
              <a class="link" id="credits">Credits</a>
          </div>
      </div>
      </div>
      <div id="contents">
      </div>

   </div>

