   <div id="content">
      <div id="titlebar">
            <div id="title"> {{ title }} </div> 
            <div id="icon"><img src="res\generic_img\omino_giallo.png" id="omino"></img></div>
      </div>
      <div id="contents">
      </div>
       <div id="navbar">
                <div class="link" id="calendar"><img src="res\NavBar\Calendar.png" class="navigationItem"></div>
                <div class="link" id="news"><img src="res\NavBar\News.png" class="navigationItem"></div>
                <div class="link" id="categories"><img src="res\NavBar\Categories.png" class="navigationItem"></div>
                <div class="link" id="atlethes"><img src="res\NavBar\Athletes.png" class="navigationItem"></div>
                <div class="link" id="credits"><img src="res\NavBar\Credits.png" class="navigationItem"></div>
        </div>
   </div>

